.funny-glasses{
    position: relative;
    top: -108px;
    left: 214px;
}

.bandana{
    position: absolute;
    top: 177px;
    left: 110px;
}

.pawprint{
    position: fixed;
    top: 48px;
    left: 66px;
}

.top-hat{
    position: relative;
    z-index: 1;
}